option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:autoscaling:trigger:
    UpperThreshold: 80
    LowerThreshold: 40
    MeasureName: CPUUtilization
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    ENVIRONMENT: production